<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <app-gestionnaire (addedVoiture)="addVoitureToList($event);"></app-gestionnaire> -->
      <app-gestionnaire></app-gestionnaire>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- binding property pour transmission de l'objet voiture vers le voitureCompoent à travaers theVoiture -->
      <!-- <app-voiture *ngFor="let voiture of voitures" [theVoiture]="voiture"></app-voiture> -->
      <router-outlet></router-outlet>
      <!-- <app-garage></app-garage> -->
    </div>
    <!-- <div class="col-md-6">
       <app-detail [theDetailedVoiture]="theSelectedVoiture"></app-detail>
          <app-detail></app-detail>
      </div> -->
  </div>
</div>