<div class="container" style="margin-top: 20px">
  <div class="row">
    <app-search-pokemon></app-search-pokemon>
    <a
      class="btn-floating btn-large waves-effect waves-light red z-depth-3"
      style="position: fixed; top: 65px; right: 25px"
      (click)="logout()" *ngIf="auth.isLoggedIn">
      logout
    </a>
    <div *ngFor="let pokemon of pokemonList" class="col s6 m4">
      <a
        (click)="goToPokemon(pokemon)"
        class="card horizontal"
        pokemonBorderCard
      >
        <div class="card-image">
          <img [src]="pokemon.picture" />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ pokemon.name | uppercase }}</p>
            <p>
              <small>{{ pokemon.created | date : "medium" }}</small>
            </p>
            <span
              *ngFor="let type of pokemon.types"
              class="{{ type | pokemonTypeColor }}"
            >
              {{ type }}
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<a
  class="btn-floating btn-large waves-effect waves-light red z-depth-3"
  style="position: fixed; bottom: 25px; right: 25px"
  routerLink="/pokemon/add"
>
  ➕
</a>
